.footer {
  background: #161f30;
  color: #ffffff;
  padding: 3em 3em 1em; }

.footer__top {
  display: flex;
  justify-content: space-around; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif; }

a {
  text-decoration: none;
  color: #ffffff; }
